{% block component_filter_multi_select_list_item %}
    {% for element in values %}
        {% block component_filter_multi_select_list_item_value %}
            <div class="form-check sub-item">
                {% set id = element.id %}
                {% set filterValue = filterValue ~ '_' ~ element.id %}
                {% set name = element.translated.name %}
                {% block component_filter_multi_select_list_item_value_checkbox_input %}
                    <input type="checkbox"
                           class="form-check-input filter-multi-select-checkbox filter-category-select-checkbox"
                           data-label="{{ name }}"
                           value="{{ filterValue }}"
                           id="{{ filterValue }}">
                {% endblock %}

                {% block component_filter_multi_select_list_item_value_label_element %}
                    <label class="filter-multi-select-item-label filter-category-select-item-label form-check-label"
                           for="{{ filterValue }}">
                        {% block component_multi_select_list_item_value_label %}
                            {{ name }}
                        {% endblock %}
                    </label>

                    {% block arrow_icon %}
                        {% if element.values %}
                            <div class="category-toggle-icon closed-icon">
                                {% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'} %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
                {% if element.values %}
                    <div class="sub-items hide-category-list-item">
                        {% sw_include '@FinSearch/storefront/component/listing/filter/filter-category-select-list-item-value.html.twig' with {
                            values: element.values,
                            filterValue: filterValue
                        } %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% endfor %}
{% endblock %}
