{% sw_extends '@Storefront/storefront/component/listing/filter/filter-multi-select.html.twig' %}

{% block component_filter_multi_select %}
    <div class="{% if hidden %}d-none {% endif %}filter-multi-select filter-multi-select-{{ name }} filter-panel-item{% if not sidebar %} dropdown{% endif %}"
         data-{{ pluginSelector }}="true"
         data-{{ pluginSelector }}-options='{{ dataPluginSelectorOptions|json_encode }}'>

        {% block component_filter_multi_select_toggle %}
            {{ parent() }}
        {% endblock %}

        {% block component_filter_multi_select_dropdown %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block component_filter_multi_select_list %}
    <ul class="filter-multi-select-list filter-category-select-list">
        {% for element in elements %}
            {% block component_filter_multi_select_list_item %}
                <li class="filter-multi-select-list-item filter-property-select-list-item filter-category-select-list-item">
                    {% block component_filter_property_select_preview_list_item %}
                        {% sw_include '@FinSearch/storefront/component/listing/filter/filter-category-select-list-item.html.twig' %}
                    {% endblock %}
                </li>
            {% endblock %}

        {% endfor %}
    </ul>
{% endblock %}
