{% block component_filter_category_select_list_options %}

    {% block component_filter_multi_select_list_item %}
        <div class="custom-control custom-checkbox category-filter-container">
            {% set id = element.id %}
            {% set filterValue = element.id %}
            {% set name = element.translated.name %}
            {% block component_filter_multi_select_list_item_checkbox_input %}
                <input type="checkbox"
                       class="custom-control-input filter-category-select-checkbox"
                       data-label="{{ name }}"
                       value="{{ filterValue }}"
                       id="{{ id }}">
            {% endblock %}

            {% block component_filter_multi_select_list_item_label_element %}
                <label class="filter-multi-select-item-label filter-category-select-item-label custom-control-label" for="{{ id }}">
                    {% block component_multi_select_list_item_label %}<span>{{ name }}</span>
                    {% endblock %}
                </label>
                {% block arrow_icon %}
                    {% if element.values %}
                        <div class="category-toggle-icon closed-icon">
                            {% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'} %}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endblock %}
            {% if element.values %}
                {% sw_include '@FinSearch/storefront/component/listing/filter/filter-category-select-list-item-value.html.twig' with {
                    values: element.values,
                    filterValue: filterValue
                } %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
