{% sw_extends '@Storefront/storefront/page/search/index.html.twig' %}

{% block page_search_listing %}
    {% if context.context.extensions.flPromotion %}
        <a href="{{ context.context.extensions.flPromotion.link }}">
            <img src="{{ context.context.extensions.flPromotion.image }}" id="fl-promotion" alt="Promotion Image"/>
        </a>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_search_headline %}
    {% if page.header.extensions.flConfig.active == false
        or page.header.extensions.flConfig.staging == true
        or page.header.extensions.flConfig.directIntegration is constant('\\FINDOLOGIC\\FinSearch\\Findologic\\IntegrationType::DI') %}
        {{ parent() }}
    {% else %}
        {% block page_search_headline_text %}
            <h1 class="search-headline">
                {% if context.context.extensions.flQueryInfoMessage %}
                    {% set queryInfoMessage = context.context.extensions.flQueryInfoMessage %}
                    {% if queryInfoMessage.snippetType == 'query' %}
                        {{ 'finSearch.queryInfoMessage.query'|trans({
                            '%query%': page.searchTerm,
                            '%hits%': page.searchResult.criteria.extensions.flPagination.total
                        })|sw_sanitize }}
                    {% elseif queryInfoMessage.snippetType == 'cat' %}
                        {{ 'finSearch.queryInfoMessage.cat'|trans({
                            '%cat%': queryInfoMessage.category,
                            '%hits%': page.searchResult.criteria.extensions.flPagination.total
                        })|sw_sanitize }}
                    {% elseif queryInfoMessage.snippetType == 'vendor' %}
                        {{ 'finSearch.queryInfoMessage.vendor'|trans({
                            '%vendor%': queryInfoMessage.vendor,
                            '%hits%': page.searchResult.criteria.extensions.flPagination.total
                        })|sw_sanitize }}
                    {% else %}
                        {{ 'finSearch.queryInfoMessage.default'|trans({
                            '%hits%': page.searchResult.criteria.extensions.flPagination.total
                        })|sw_sanitize }}
                    {% endif %}
                {% else %}
                    {{ 'finSearch.smartDidYouMean.searchHeadline'|trans({
                        '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery,
                        '%articlesCount%': page.searchResult.criteria.extensions.flPagination.total,
                    })|sw_sanitize }}
                {% endif %}
            </h1>
            {% if context.context.extensions.flSmartDidYouMean %}
                <p id="fl-smart-did-you-mean" class="search-headline">
                    {% if context.context.extensions.flSmartDidYouMean.type == 'did-you-mean' %}
                        {{ 'finSearch.smartDidYouMean.didYouMeanQuery'|trans({
                            '%link%': context.context.extensions.flSmartDidYouMean.link,
                            '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery
                        })|sw_sanitize }}
                    {% elseif context.context.extensions.flSmartDidYouMean.type == 'improved' %}
                        {{ 'finSearch.smartDidYouMean.improvedQuery'|trans({
                            '%link%': context.context.extensions.flSmartDidYouMean.link,
                            '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery,
                            '%originalQuery%': context.context.extensions.flSmartDidYouMean.originalQuery
                        })|sw_sanitize }}
                    {% elseif context.context.extensions.flSmartDidYouMean.type == 'corrected' %}
                        {{ 'finSearch.smartDidYouMean.correctedQuery'|trans({
                            '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery,
                            '%originalQuery%': context.context.extensions.flSmartDidYouMean.originalQuery
                        })|sw_sanitize }}
                    {% else %}
                        {# Nothing to render here #}
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}
