{% sw_extends '@Storefront/storefront/page/search/index.html.twig' %}

{% block page_search %}
    {% if context.context.extensions.flPromotion %}
        <div id="fl-promotion-container">
            <a href="{{ context.context.extensions.flPromotion.link }}" id="fl-promotion-link">
                <img src="{{ context.context.extensions.flPromotion.image }}" id="fl-promotion" alt="Promotion Image"/>
            </a>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_search_headline %}
    {% if page.header.extensions.flConfig.active == false
        or page.header.extensions.flConfig.staging == true
        or page.header.extensions.flConfig.directIntegration is constant('\\FINDOLOGIC\\FinSearch\\Findologic\\IntegrationType::DI') %}
        {{ parent() }}
    {% else %}
        {% block page_search_headline_text %}
            <h1 class="search-headline">
                {% set hits = page.searchResult.criteria.extensions.flPagination.total ? page.searchResult.criteria.extensions.flPagination.total : page.listing.criteria.extensions.flPagination.total %}

                {% if context.context.extensions.flQueryInfoMessage %}
                    {% set queryInfoMessage = context.context.extensions.flQueryInfoMessage %}
                    {% if queryInfoMessage is instanceof("\\FINDOLOGIC\\FinSearch\\Struct\\QueryInfoMessage\\ShoppingGuideInfoMessage") %}
                        {{ 'finSearch.queryInfoMessage.shoppingGuide'|trans({
                            '%shoppingGuide%': queryInfoMessage.shoppingGuide,
                            '%hits%': hits
                        })|sw_sanitize }}
                    {% elseif queryInfoMessage is instanceof("\\FINDOLOGIC\\FinSearch\\Struct\\QueryInfoMessage\\CategoryInfoMessage") or
                        queryInfoMessage is instanceof("\\FINDOLOGIC\\FinSearch\\Struct\\QueryInfoMessage\\VendorInfoMessage") %}
                        {{ 'finSearch.queryInfoMessage.filter'|trans({
                            '%filterName%': queryInfoMessage.filterName,
                            '%filterValue%': queryInfoMessage.filterValue,
                            '%hits%': hits
                        })|sw_sanitize }}
                    {% elseif queryInfoMessage is instanceof("\\FINDOLOGIC\\FinSearch\\Struct\\QueryInfoMessage\\SearchTermQueryInfoMessage") %}
                        {{ 'finSearch.queryInfoMessage.query'|trans({
                            '%query%': queryInfoMessage.query,
                            '%hits%': hits
                        })|sw_sanitize }}
                    {% else %}
                        {{ 'finSearch.queryInfoMessage.default'|trans({
                            '%hits%': hits
                        })|sw_sanitize }}
                    {% endif %}
                {% else %}
                    {{ parent() }}
                {% endif %}
            </h1>
            {% if context.context.extensions.flSmartDidYouMean %}
                <p id="fl-smart-did-you-mean" class="search-headline">
                    {% if context.context.extensions.flSmartDidYouMean.type == 'did-you-mean' %}
                        {{ 'finSearch.smartDidYouMean.didYouMeanQuery'|trans({
                            '%link%': context.context.extensions.flSmartDidYouMean.link,
                            '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery
                        })|sw_sanitize }}
                    {% elseif context.context.extensions.flSmartDidYouMean.type == 'improved' %}
                        {{ 'finSearch.smartDidYouMean.improvedQuery'|trans({
                            '%link%': context.context.extensions.flSmartDidYouMean.link,
                            '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery,
                            '%originalQuery%': context.context.extensions.flSmartDidYouMean.originalQuery
                        })|sw_sanitize }}
                    {% elseif context.context.extensions.flSmartDidYouMean.type == 'corrected' %}
                        {{ 'finSearch.smartDidYouMean.correctedQuery'|trans({
                            '%alternativeQuery%': context.context.extensions.flSmartDidYouMean.alternativeQuery,
                            '%originalQuery%': context.context.extensions.flSmartDidYouMean.originalQuery
                        })|sw_sanitize }}
                    {% else %}
                        {# Nothing to render here #}
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}
